<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food app</title>

    <!-- // EXTERNAL CSS SHEETS // -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Philosopher&display=swap"
      rel="stylesheet"
    />

    <!--       //   INTERNAL CSS   //         -->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <!--      // INTERNAL JAVASCRIPT //       -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <a href="#" class="top">Logo</a>
      <div class="top-mid">
      <a href="#" class="top">For Restaurants</a>
      <a href="#" class="top">For Teams</a>
      <a href="#" class="top">For LightHouse</a>
    </div>
      <a href="#" class="top">Download app</a>
    </nav>
    <div class="lower">
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img class="img" src="/images/stock1.webp" />
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img class="img" src="/images/stock2.jpg" />
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img class="img" src="/images/stock3.jpg" />
          <div class="text">Caption Three</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>

    <p>hello</p>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-heading footer-1">
          <h2>About us</h2>
          <a href="#">Blog</a>
          <a href="#">Demo</a>
          <a href="#">Customers</a>
          <a href="#">Terms of Service</a>
        </div>
        <div class="footer-heading footer-3">
          <h2>Contact us</h2>
          <a href="#">Contact</a>
          <a href="#">Jobs</a>
          <a href="#">Sponsorships</a>
          <a href="#">Support</a>
        </div>
        <div class="footer-heading footer-1">
          <h2>Social Media</h2>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Youtube</a>
          <a href="#">Github</a>
        </div>
        <div class="footer-email-form">
          <h2>Join our newsletter</h2>
          <input
            type="email"
            placeholder="Enter your email address"
            id="footer-email"
          />
          <input type="submit" value="Sign up" id="footer-email.btn" />
        </div>
      </div>
    </div>
  </body>
</html>
