<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <!-- // EXTERNAL CSS SHEETS // -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Philosopher&display=swap"
      rel="stylesheet"
    />

    <!--       //   INTERNAL CSS   //         -->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <!--      // INTERNAL JAVASCRIPT //       -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <a href="#" class="top">CodeKill<br />Cafe</a>
      <div class="top-mid">
        <a href="#" class="top">For Restaurants</a>
        <a href="#" class="top">For Teams</a>
        <a href="#" class="top">For LightHouse</a>
      </div>
      <a href="#" class="top">Download app</a>
    </nav>

    <div class="lower-menu">
      <div class="menu-container" style="text-align: center">
        <h3>MENU</h3>
        <div class="food">
          <p>1. FullStack of Pancakes</p>
          <p>$4.99</p>
          <p>A well rounded, full-service<br />tower of buttermilk pancakes</p>
          <button id="btn1" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>2. API platter</p>
          <p>$6.50</p>
          <p>API's are for sharing,<br />here is a plate of our favourites!</p>
          <button id="btn2" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>3. OpenSource Sandwich</p>
          <p>$7.87</p>
          <p>Add your own flair,<br />fully customizable</p>
          <button id="btn3" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>4. Fri-Data</p>
          <p>$5.00</p>
          <p>Everything you need to<br />give your memory a boost!</p>
          <button id="btn4" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>5. camelCase-role</p>
          <p>$8.50</p>
          <p>A majestic, lumpy caserole<br />spelled with pizzazz!</p>
          <button id="btn5" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>6. Arctic VARCHAR</p>
          <p>$2.25</p>
          <p>But is it though?<br />This really could be anything...</p>
          <button id="btn6" class="button-42" role="button">
            Add to order
          </button>
        </div>
        <div class="food">
          <p>7. Cookies</p>
          <p>$3.14</p>
          <p>
            We don't encrypt these cookies,<br />We let you know what you get!
          </p>
          <button id="btn7" class="button-42" role="button">
            Add to order
          </button>
        </div>
      </div>
      <br />
      <div class="order-container">
        <h3>Order</h3>
        <li class="order-list"></li>
        <p>Your total is:</p>
        <p class="total">0</p>
        <a href="/confirmation">
          <button type="submit" class="place-order">Place Order</button>
        </a>
      </div>
    </div>

    <div class="footer-container">
      <div class="footer">
        <div class="footer-heading footer-1">
          <h2>About us</h2>
          <a href="#">Blog</a>
          <a href="#">Demo</a>
          <a href="#">Customers</a>
          <a href="#">Terms of Service</a>
        </div>
        <div class="footer-heading footer-3">
          <h2>Contact us</h2>
          <a href="#">Contact</a>
          <a href="#">Jobs</a>
          <a href="#">Sponsorships</a>
          <a href="#">Support</a>
        </div>
        <div class="footer-heading footer-1">
          <h2>Social Media</h2>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Youtube</a>
          <a href="#">Github</a>
        </div>
        <div class="footer-email-form">
          <h2>Join our newsletter</h2>
          <input
            type="email"
            placeholder="Enter your email address"
            id="footer-email"
          />
          <input type="submit" value="Sign up" id="footer-email.btn" />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/buttons.js"></script>
  </body>
</html>
