.conf-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-apart;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 20%;
  padding-bottom: 55%;
}

.thanks_container {
  display: flex;
  top: 20%;
  border: solid 6px;
  border-width: flex;
  box-sizing: border-box;
  border-color: maroon;
  font-family: "Bangers";
  font-size: 50px;
  padding: 2rem;
}

.conf-container {
  display: flex;
  width: 50%;
  bottom: 40%;
  border: solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
  border-width: flex;
  border-color: maroon;
  justify-content: center;
  font-family: "Philosopher";
  font-size: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
