* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;
  background: wheat;

}

.top {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.top:hover {
  color: red;
}

.top-mid {
  width: 50%;
  display: flex;
  justify-content: space-around;
}


.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.order1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lower-menu {
  margin-top: 180px;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  //background-color: gray;
  padding-bottom: 200px;

}

.menu-container {
  border: 4px solid maroon;
  background-color: wheat;
  //border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.order-container {
  border: 4px solid maroon;
  background-color: wheat;
  border-radius: 5%;
  padding: 5%;
  width: 50%;
}

////confirmation page////

.conf-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  margin-top: 20rem;
}

.thanks_container {
  display: flex;
  position: fixed;
  top: 20%;
  width: 65%;
  border: solid 6px;
  border-width: flex;
  box-sizing: border-box;
  border-color: maroon;
  justify-content: center;
  align-content: center;
  font-family: "Bangers";
  font-size: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 10rem;
}

.conf-container {
  display: flex;
  width: 50%;
  position: fixed;
  bottom: 40%;
  border: solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
  border-width: flex;
  border-color: maroon;
  justify-content: center;
  font-family: "Philosopher";
  font-size: 50px;
  margin-left: 14rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

// restaurant list

.restaurant-list {
  // background-color: red;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // margin-top: 10em;
  // margin-left: 36%;
  // margin-bottom: 25%;
}

.restaurant-name {
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  //max-width: 40%;
}
