* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;
  background: wheat;

}

.top {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.top:hover {
  color: red;
}

.top-mid {
  width: 50%;
  display: flex;
  justify-content: space-around;
}


// restaurant list

.restaurant-list {
  display: flex;
  flex-direction: column;
}

.restaurant-name {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px;
}
